/* Normalizing */
body {
  font-family: "Open Sans";
}
.mainBackground {
  background-color: #29597D;
}
input[type=text] {
  margin: 0 0 5px 0;
}
.row{
  margin-bottom: 2vw;
}


/* Form Set-up */
.paperBorder {
  margin-left: 10vw;
  margin-top: 3vw;
}
.toTile {
  width: 39vw;
  padding: 15px;
  margin-right: 2vw;
  display: inline-block;
}
.toTile h5 {
  display: inline-block;
}
.fromTile {
  width: 39vw;
  padding: 15px;
  display: inline-block;
}
.fromTile h5 {
  display: inline-block;
}
.productsTile {
  width: 50vw;
  padding: 15px;
  margin-right: 2vw;
  display: inline-block;
}
.itemTile {
  background-color: #222428;
  margin: 7px;
}
.customsTile {
  width: 28vw;
  padding: 15px;
  display: inline-block;
}
.customsTile input {
  font-size: 1.333rem;
}
.createTile {
  width: 80vw;
}
.createTile a {
  font-size: 2rem;
}
.rateTile {
  width: 50vw;
  padding:15px;
  margin-right: 2vw;
  display: inline-block;
}
.rateTile h6 {
  border-bottom: 1px solid white;
}
.labelTile {
  width: 28vw;
  padding: 15px;
  display: inline-block;
}

/* Button CSS*/
.navBackground {
  background-color: #0A1720;
}
.tileBackground{
  background-color: #152C3F;
}
.buttonBackground {
  background-color: #5B6167;
}
.createGreen {
  color: white;
  font-weight: bold;
}
.createGreen:hover {
  background-color: #265B41;
  color: white;
}
.updateBlue{
  color: #00A7D6;
  font-weight: bold;
}
.updateBlue:hover {
  background-color: #09789C;
  color: white;
}

/* MISC */
.logo {
  font-size: 2.3rem;
}
.hidden {
  visibility: hidden;
  height: 0px !important;
  margin: 0px !important;
}
.super {
  vertical-align: super;
}
#prePackageInfo {
  margin-right: 15px;
  background-color: grey;
  padding: 5px;
  border-radius: 2px;
}
