<div ng-controller="pdfController as pdf" class="paperBorder white-text col s12">
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select()
        })
    </script>

    <!-- **************************************************** -->
    <!-- PO tile, also doubles as search box for other POs-->
    <!-- **************************************************** -->
    <div ng-init="pdf.getOnePO(pdf.poNum)">
        <div class="row">
            <div class="poTile tileBackground poNum">
                <h4 class="grey-text text-darken-2">PO#: </h4>
                <input type="text" ng-model="pdf.po.poNum" ng-keyup="$event.keyCode == 13 ? pdf.changePOs($state) : null" ng-click="pdf.changePOs($state)">
            </div>
        </div>

        <!-- **************************************************** -->
        <!-- Contact address tile, first line is Attn field -->
        <!-- **************************************************** -->
        <div class="row">
            <div class="tileBackground contactTile" ng-controller="countrySelector as cs">
                <h5 class="grey-text text-darken-2">Contact Info</h5>
                <form>
                    <div class="col s12">
                        <input type="text" ng-model="pdf.po.contactAddress.attn" placeholder="Attn:">
                    </div>
                    <div class="col s12">
                        <input type="text" ng-model="pdf.po.contactAddress.company" placeholder="Company">
                    </div>
                    <div class="col s12">
                        <input type="text" ng-model="pdf.po.contactAddress.street1" placeholder="Street 1">
                    </div>
                    <div class="col s6">
                        <input type="text" ng-model="pdf.po.contactAddress.city" placeholder="City">
                    </div>
                    <div class="col s6">
                        <input type="text" ng-model="pdf.po.contactAddress.state" placeholder="St">
                    </div>
                    <div class="col s6">
                        <input type="text" ng-model="pdf.po.contactAddress.zip" placeholder="Zip">
                    </div>
                    <div class="col s6" id="country">
                        <select ng-model="pdf.po.contactAddress.country">
                <option value="" disabled selected>Select Country</option>
                <option ng-repeat="country in cs.countryArr" value="{{country}}">{{country}}</option>
              </select>
                    </div>
                    <div class="col s12">
                        <input type="text" ng-model="pdf.po.contactAddress.phone" placeholder="Phone">
                    </div>
                    <div class="col s12">
                        <input type="text" ng-model="pdf.po.contactAddress.email" placeholder="Email">
                    </div>
                </form>
            </div>

            <!-- **************************************************** -->
            <!-- Quality Assurance tile -->
            <!-- **************************************************** -->
            <div class="tileBackground pdfInfoTile">
                <h5 class="grey-text text-darken-2">Quality Assurance Representative</h5>
                <div class="col s11">
                    <input type="text" ng-model="pdf.qar">
                </div>
            </div>

            <!-- **************************************************** -->
            <!-- Datepicker Tile -->
            <!-- **************************************************** -->
            <div class="tileBackground dateTile">
                <script type="text/javascript">
                    $('.datepicker').pickadate({
                        selectMonths: true, // Creates a dropdown to control month
                        selectYears: 1, // Creates a dropdown of 1 years to control year
                        format: 'd mmm, yyyy' //Formats date to match pdf.formateDate()
                    })
                </script>
                <div>
                    <h5 class="grey-text text-darken-2">Date Select</h5>
                </div>
                <!-- Order Date -->
                <div class="col s1 dateLabel1">
                    <h6 class="center">Order Date</h6>
                </div>
                <div class="col s4 center date dog-ear">
                    <input type="date" class="datepicker underline" ng-model="pdf.orderDate" placeholder="Select Date" ng-init="pdf.today()">
                </div>
                <!-- Ship Date -->
                <div class="col s1 dateLabel2">
                    <h6 class="center">Ship Date</h6>
                </div>
                <div class="col s4 center date dog-ear">
                    <input type="date" class="datepicker underline" ng-model="pdf.shipDate" placeholder="Select Date" ng-init="pdf.today()">
                </div>

                <!-- <div class="col s6">
                  <a class="btn" ng-click="pdf.logDate(pdf.orderDate)">Order</a>
                </div>
                <div class="col s6">
                  <a class="btn" ng-click="pdf.logDate(pdf.shipDate)">Ship</a>
                </div> -->
            </div>
        </div>

        <!-- **************************************************** -->
        <!-- CFC tile -->
        <!-- **************************************************** -->
        <div class="row">
            <div class="pdfItemTile tileBackground">
                <h5 class="grey-text text-darken-2">Certificates of Conformence</h5>
                <div ng-repeat="item in pdf.po.itemArray">
                    <!-- Item Info Form -->
                    <div id="item" class="col s4">
                        <h6 class="center">{{item.item}}</h6>
                        <div class="row docRow">
                            <!-- Price -->
                            <div class="col s6 cfcPrice">
                                <label for="price"><h6 class="grey-text text-darken-2">Price: </h6></label>
                                <input id="price" type="text" ng-model="item.price" real-time-currency>
                            </div>
                            <!-- Add Serial# field for SDR -->
                            <div class="col s6" ng-if="item.item === 'SDR'">
                                <label for="serialNum"><h6 class="grey-text text-darken-2">Serial#: </h6></label>
                                <input id="serialNum" type="text" ng-model="item.serialNum">
                            </div>
                        </div>
                        <div class="row docRow">
                            <a class="waves-effect waves-light btn buttonBackground updateBlue col s11" style="margin:10px;" ng-click="pdf.certificate(item)">{{item.item}} CFC</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- **************************************************** -->
        <!-- Packing List tile -->
        <!-- **************************************************** -->
        <div class="row">
            <div class="tileBackground plTile">
                <div class="col s6">
                    <h5 class="grey-text text-darken-2">Packing List</h5>
                </div>
                <div class="col 11">
                    <input type="text" ng-model="pdf.packingNum">
                </div>
                <div class="col s12">

                </div>
                <a class="waves-effect waves-light btn buttonBackground updateBlue" ng-click="pdf.packList()">Print Packing List</a>
            </div>
        </div>

    </div>
</div>
