<div class="paperBorder white-text" ng-controller="easypostController as epc">
    <div class="row">
        <!-- To Address Form -->
        <div class="toTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">To</h5>
            <!-- <a class="waves-effect waves-light btn col l4 offset-l7 buttonBackground verifyGreen right" ng-click="epc.sendTAddress()">Verify</a> -->
            <form>
                <div class="col s12">
                    <input ng-model="epc.tAddress.name" type="text" placeholder="Name">
                </div>
                <div class="col s12">
                    <input ng-model="epc.tAddress.street1" type="text" placeholder="Street 1">
                </div>
                <div class="col s12">
                    <input ng-model="epc.tAddress.street2" type="text" placeholder="Street 2">
                </div>
                <div class="col s6">
                    <input ng-model="epc.tAddress.city" type="text" placeholder="City">
                </div>
                <div class="col s6">
                    <input ng-model="epc.tAddress.state" type="text" placeholder="State">
                </div>
                <div class="col s6">
                    <input ng-model="epc.tAddress.zip" type="text" placeholder="Postal Code">
                </div>
                <div class="col s6">
                    <input ng-model="epc.tAddress.country" type="text" placeholder="Country">
                </div>
                <div class="col s12">
                    <input ng-model="epc.tAddress.phone" type="text" placeholder="Phone">
                </div>
                <div class="col s12">
                    <input ng-model="epc.tAddress.email" type="text" placeholder="Email">
                </div>
                <div class="right-align">
                </div>
            </form>
        </div>

        <!-- From Address Form -->
        <div class="fromTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">From</h5>
            <a class="waves-effect waves-light btn buttonBackground updateBlue col l4 right" ng-click="epc.sendFAddress()" ng-init="epc.sendFAddress()">Update</a>

            <form>
                <div class="col s12">
                    <input type="text" ng-model="epc.fAddress.company">
                </div>
                <div class="col s12">
                    <input type="text" ng-model="epc.fAddress.street1">
                </div>
                <div class="col s12">
                    <input type="text" placeholder="Street 2" ng-model="epc.fAddress.street2">
                </div>
                <div class="col s6">
                    <input type="text" ng-model="epc.fAddress.city">
                </div>
                <div class="col s6">
                    <input type="text" ng-model="epc.fAddress.state">
                </div>
                <div class="col s6">
                    <input type="text" ng-model="epc.fAddress.zip">
                </div>
                <div class="col s6">
                    <input type="text" ng-model="epc.fAddress.country">
                </div>
                <div class="col s12">
                    <input type="text" ng-model="epc.fAddress.phone">
                </div>
                <div class="col s12">
                    <input type="text" ng-model="epc.fAddress.email">
                </div>
            </form>
        </div>

    </div>

    <div class="row">
        <!-- Product Input -->
        <div class="productsTile tileBackground z-depth-2">

            <h5 class="grey-text text-darken-2 col s7">Products</h5>
            <div class="col s5">
              <a class="waves-effect waves-light btn buttonBackground col s5 offset-s1" ng-click="epc.sendFAddress()" ng-repeat="parcel in epc.parcels">{{parcel.size}}</a>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('select').material_select()
                })
            </script>
            <select class="col s6" ng-options="product as product.item for product in epc.products" ng-model="epc.item">
              <option value="" selected disabled>Product</option>
            </select>
            <a class="waves-effect waves-light btn buttonBackground col s2 offset-s2" ng-click="epc.addProduct()">Add</a>

            <div class="col s12">
              {{epc.shipmentArray}}
            </div>
        </div>

        <!-- Customs Form -->
        <div class="customsTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">Customs Signer</h5>
            <form id="customs">
                <div class="col s12">
                    <input type="text" placeholder="Name" ng-model="epc.customsInfo.customs_signer">
                </div>
            </form>
        </div>

    </div>
    <div class="row">
        <div class="createTile center-align">
            <a class="waves-effect waves-light btn-large buttonBackground createGreen" ng-click="epc.createShipment()">Create Shipment</a>
        </div>
    </div>

    <div class="row">
        <div class="rateTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">Rates</h5>
            <div class="col s3">
                <h6 class="center">Carrier</h6>
            </div>
            <div class="col s3">
                <h6 class="center">Delivery Date</h6>
            </div>
            <div class="col s3">
                <h6 class="center">$ Rate</h6>
            </div>
            <div class="col s3">
                <p class="hidden">Waldo was here</p>
            </div>
            <div ng-repeat=" rate in epc.rts">
                <div class="col s3">
                    <p class="center">{{rate.carrier}}</p>
                    <p class="center">{{rate.service}}</p>
                </div>
                <div class="col s3">
                    <p class="center">{{rate.delivery_date}}</p>
                </div>
                <div class="col s3">
                    <p class="center">${{rate.rate}}</p>
                </div>
                <div class="col s3 center-align">
                    <a class="waves-effect waves-light btn buttonBackground super" ng-click="epc.purchase(rate.id)">Purchase</a>
                    <input class="hidden" ng-model="rate.id">
                </div>

            </div>
        </div>

        <div class="labelTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">Label</h5>
            <!-- <div class="col l12">
              {{epc.label}}
            </div> -->
            <div class="col s12">
                <div class="col s6">
                    <a id="label" target="_blank" ng-href="{{epc.label.postage_label.label_url}}" class="waves-effect waves-light btn buttonBackground col s12">Label</a>
                </div>
                <div class="col s6">
                    <a id="form" target="_blank" ng-href="{{epc.label.forms[0].form_url}}" class="waves-effect waves-light btn buttonBackground col s12">Commercial Invoice</a>
                </div>
                <div class="col s6">
                    <h6>Tracking #: {{epc.label.tracker.tracking_code}}</h6>
                </div>
                <div class="col s6">
                    <a id="tLable" target="_blank" ng-href="{{epc.label.tracker.public_url}}" class="waves-effect waves-light btn buttonBackground col s12">Tracking</a>

                </div>
            </div>

        </div>
    </div>
</div>
