<div class="paperBorder white-text" ng-controller="easypostController as epc">
    <div class="row">
        <!-- To Address Form -->
        <div class="toTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">To</h5>
            <!-- <a class="waves-effect waves-light btn col l4 offset-l7 buttonBackground verifyGreen right" ng-click="epc.sendTAddress()">Verify</a> -->
            <form>
                <div class="col l12 s12">
                    <input ng-model="epc.tAddress.name" type="text" placeholder="Name">
                </div>
                <div class="col l12 s12">
                    <input ng-model="epc.tAddress.street1" type="text" placeholder="Street 1">
                </div>
                <div class="col l12 s12">
                    <input ng-model="epc.tAddress.street2" type="text" placeholder="Street 2">
                </div>
                <div class="col l5 s6">
                    <input ng-model="epc.tAddress.city" type="text" placeholder="City">
                </div>
                <div class="col l3 s6">
                    <input ng-model="epc.tAddress.state" type="text" placeholder="State">
                </div>
                <div class="col l4 s6">
                    <input ng-model="epc.tAddress.zip" type="text" placeholder="Postal Code">
                </div>
                <div class="col l6 s6">
                    <input ng-model="epc.tAddress.country" type="text" placeholder="Country">
                </div>
                <div class="col l6 s12">
                    <input ng-model="epc.tAddress.phone" type="text" placeholder="Phone">
                </div>
                <div class="col l12 s12">
                    <input ng-model="epc.tAddress.email" type="text" placeholder="Email">
                </div>
                <div class="right-align">
                </div>
            </form>
        </div>

        <!-- From Address Form -->
        <div class="fromTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">From</h5>
            <a class="waves-effect waves-light btn buttonBackground updateBlue col l4 right" ng-click="epc.sendFAddress()" ng-init="epc.sendFAddress()">Update</a>

            <form>
                <div class="col l12 s12">
                    <input type="text" ng-model="epc.fAddress.company">
                </div>
                <div class="col l12 s12">
                    <input type="text" ng-model="epc.fAddress.street1">
                </div>
                <div class="col l12 s12">
                    <input type="text" placeholder="Street 2" ng-model="epc.fAddress.street2">
                </div>
                <div class="col l5 s6">
                    <input type="text" ng-model="epc.fAddress.city">
                </div>
                <div class="col l3 s6">
                    <input type="text" ng-model="epc.fAddress.state">
                </div>
                <div class="col l4 s6">
                    <input type="text" ng-model="epc.fAddress.zip">
                </div>
                <div class="col l6 s6">
                    <input type="text" ng-model="epc.fAddress.country">
                </div>
                <div class="col l6 s12">
                    <input type="text" ng-model="epc.fAddress.phone">
                </div>
                <div class="col l12 s12">
                    <input type="text" ng-model="epc.fAddress.email">
                </div>
            </form>
        </div>

    </div>

    <div class="row">
        <!-- Product Input -->
        <div class="productTile tileBackground z-depth-2">

            <h5 class="grey-text text-darken-2">Products</h5>
            <!-- JS for <select>  -->
            <script type="text/javascript">
                $(document).ready(function() {
                    $('select').material_select();
                });
            </script>
            <form>
                <table>
                    <tr>
                        <td class="input-field col s12">
                            <select ng-model="epc.product.item">
                               <option value="SDR" >SDR</option>
                               <option value="SDRmountingPlate">SDR Mounting Plate</option>
                               <option value="SDRconnectorKit">SDR Connector Kit</option>
                               <option value="InterfaceCable">Interface Cable</option>
                               <option value="Air8023G">Air802 3G Antenna</option>
                               <option value="Air802WIFI">Air802 WIFI Antenna</option>
                             </select>
                           </td>

                        <td>
                            <input type="text" ng-model="epc.product.quantity" placeholder="Qty">
                        </td>
                        <td>
                            <input type="text" ng-model="epc.product.serialNum" placeholder="Seial#">
                        </td>
                        <td>
                            <input type="text" ng-model="epc.product.mfgNum" placeholder="Mfg#">
                        </td>
                        <td>
                            <input type="text" ng-model="epc.product.itemNum" placeholder="Item#">
                        </td>
                        <td>
                            <input type="text" ng-model="epc.product.modelNum" placeholder="Model#">
                        </td>
                        <td>
                            <input type="text" ng-model="epc.product.price" placeholder="$ Price">
                        </td>
                        <td>
                            <a class="btn-floating waves-effect waves-light buttonBackground createGreen" ng-click="epc.addProduct()"><i class="material-icons">add</i></a>
                        </td>
                    </tr>
                </table>
            </form>


            <div class="col l12 s12" ng-repeat="item in epc.parcelArray">
                {{item}}
            </div>
            <a class="waves-effect waves-light btn buttonBackground col l4 offset-l7 createGreen" ng-click="epc.sendParcel()">Create Package</a>
        </div>

        <!-- Customs Form -->
        <div class="customsTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">Customs Signer</h5>
            <form  id="customs">
                <div class="col l12">
                    <input type="text" placeholder="Name" ng-model="epc.customsInfo.customs_signer">
                </div>
            </form>
        </div>

    </div>
    <div class="row">
      <div class="createTile center-align">
        <a class="waves-effect waves-light btn-large buttonBackground createGreen" ng-click="epc.createShipment()">Create Shipment</a>
    </div>
    </div>

    <div class="row">
        <div class="rateTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">Rates</h5>
            <div class="col l3 s3">
                <h6 class="center">Carrier</h6>
            </div>
            <div class="col l3 s3">
                <h6 class="center">Delivery Date</h6>
            </div>
            <div class="col l3 s3">
                <h6 class="center">$ Rate</h6>
            </div>
            <div class="col l3 s3">
                <p class="hidden">Waldo was here</p>
            </div>
            <div ng-repeat=" rate in epc.rts">
                <div class="col l3 s3">
                    <p class="center">{{rate.carrier}}</p>
                    <p class="center">{{rate.service}}</p>
                </div>
                <div class="col l3 s3">
                    <p class="center">{{rate.delivery_date}}</p>
                </div>
                <div class="col l3 s3">
                    <p class="center">${{rate.rate}}</p>
                </div>
                <div class="col l3 s3 center-align">
                    <a class="waves-effect waves-light btn buttonBackground super" ng-click="epc.purchase(rate.id)">Purchase</a>
                    <input class="hidden" ng-model="rate.id">
                </div>

            </div>
        </div>

        <div class="labelTile tileBackground z-depth-2">
            <h5 class="grey-text text-darken-2">Label</h5>
            <!-- <div class="col l12">
              {{epc.label}}
            </div> -->
            <div class="col l12">
              <div class="col l6">
                <a id="label" target="_blank" ng-href="{{epc.label.postage_label.label_url}}" class="waves-effect waves-light btn buttonBackground col l12">Label</a>
              </div>
              <div class="col l6">
                <a id="form" target="_blank" ng-href="{{epc.label.forms[0].form_url}}" class="waves-effect waves-light btn buttonBackground col l12">Commercial Invoice</a>
              </div>
              <div class="col l6">
                <h6>Tracking #: {{epc.label.tracker.tracking_code}}</h6>
              </div>
              <div class="col l6">
                <a id="tLable" target="_blank" ng-href="{{epc.label.tracker.public_url}}" class="waves-effect waves-light btn buttonBackground col l12">Tracking</a>

              </div>
            </div>

        </div>
    </div>
    <!-- <h1>Your code is awesome and you're awesome too!</h1> -->
</div>
